div.calculator {
    background: url(hp12cp.png);
    opacity:1;
    color: green;
    border: 2px solid black;
    z-index: 0;
}

div.transparent_box {
    position: absolute;
    opacity: 0.9;
    height: 32px;
    width: 34px;
    background-color:green;
    z-index: 1;
}

span.hint_key {
    padding: 0;
    margin: 0;
    color: black;
    opacity: 1; 
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 30px;
}